<h1>Show</h1>

<h3>Title</h3>
<%= @diary.title %>
<br><br>
<h3>Body</h3>
<%= @diary.body %>

<%= link_to "Edit", edit_diary_path %>
<%= link_to "Delete", diary_path, method: :delete, data:{confirm:"Are you sure?"} %>
